// !===============WIDTH====================
$md1: 1024px;
$md2: 767px;
$md3: 500px;
$bar-width: 20%;
// !===============COLORS====================
$cDescription: rgb(255 255 255 / 0.6);
$cWhite: rgb(255 255 255 / 1);
$blue_color: #2f82ff;

//!===============FONT-SIZE====================
$fzHead: 3rem;
$fZDescription: 1.7rem;
$fZSub: 2rem;

//!===============FONT-Weight====================
$fWeight6: 600;
$fWeight5: 500;
$fWeight3: 300;
//!===============Line-Height====================
$lineHeNormal: 1.75rem;

//!===============Box-Shadow====================

$shadow1: rgb(99, 99, 99, 0.2) 0px 0.2 re 8rem 0px;
